<form [formGroup]="userForm" class="example-container" (ngSubmit)="onSubmit()">
    <mat-form-field>
        <input formControlName="name" matInput placeholder="Name" [(ngModel)]="user.name" required />
    </mat-form-field>

    <mat-form-field>
        <input formControlName="password" matInput placeholder="Password" [(ngModel)]="user.password" required />
    </mat-form-field>

    <mat-form-field>
        <mat-select formControlName="gender" [(value)]="selected" [(ngModel)]="user.gender" placeholder="Gender">
            <mat-option>I don't want say</mat-option>
            <mat-option value="female">Female</mat-option>
            <mat-option value="male">Male</mat-option>
        </mat-select>
    </mat-form-field>

    <button type="submit" mat-button color="primary" [disabled]="!userForm.valid"> Save
    </button>
</form>

<ul class="where-user">
    <li class="text" *ngFor="let user of userCard | async">
        {{user.name}}
    </li>
</ul>
