<mat-sidenav-container class="example-container">

    <mat-sidenav #side opened [mode]="checkMode">

        <mat-toolbar>Contacts</mat-toolbar>
        <mat-nav-list>
            <mat-list-item *ngFor="let user of userData">
                <a matLine routerLink="user-card/{{user.id}}"> {{user.name}}</a>
            </mat-list-item>
        </mat-nav-list>
    </mat-sidenav>

    <div class="example-sidenav-content">
        <div class="toolbar-header">
            <mat-toolbar>Tiko </mat-toolbar>
            <button type="button" mat-button routerLink="/">
                Kişi ekle
            </button>
        </div>


        <router-outlet></router-outlet>

        <button type="button" mat-button (click)="side.toggle()">
            Toggle sidenav
        </button>
    </div>

</mat-sidenav-container>
