<mat-sidenav-container class="app-container">

    <mat-sidenav #side opened [mode]="checkMode">

        <mat-toolbar color="primary">Contacts</mat-toolbar>
        <mat-nav-list class="sidenav-name-area">
            <ng-container *ngFor="let user of userData">
                <a title="{{user.name}}" matLine routerLink="user-card/{{user.id}}">
                    <mat-list-item routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">
                        {{user.name}}
                    </mat-list-item>
                </a>
            </ng-container>

        </mat-nav-list>
    </mat-sidenav>

    <div class="app-sidenav-content">
        <div class="toolbar-header">
            <mat-toolbar color="primary">
                <span class="toolbar-main-title">Tiko</span></mat-toolbar>
            <button type="button" mat-button routerLink="/">
                Add User
            </button>
        </div>
        <router-outlet></router-outlet>
        <button type="button" mat-button (click)="side.toggle()">
            Toggle sidenav
        </button>
    </div>

</mat-sidenav-container>
